@use "./abstracts/_abstracts.scss" as *;

// ===== logo =====
.logo {
  width: 10rem;
  margin: 5rem auto;
}

// ===== calculator =====
.calculator {
  margin: 0 2rem;
  background-color: color(white);
  padding: 2rem;
  max-width: 900px;
  border-radius: $mainRadius;
  box-shadow: $mainShadow;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    @media (max-width: 830px) {
      grid-template-columns: 1fr;
    }
  }

  .form-control {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &__label {
      @include headingStyles;
      font-size: size(xs);
      margin-bottom: 1rem;
      color: color(veryDarkCyan);
    }

    &__input {
      @include textStyles;
      outline: 0;
      padding: 0.5rem;
      font-size: size(xs);
      background-color: color(lightGrayishCyan-200);
      color: color(veryDarkCyan);
      border: 0.2rem solid color(lightGrayishCyan-200);
      transition: $mainTransition;
      border-radius: $secondaryRadius;

      &:hover,
      &:focus {
        border: 0.2rem solid color(lightGrayishCyan-100);
      }
    }

    &__error {
      display: none;
      font-size: size(xxs) - 0.1rem;
      color: red;
      margin-top: 0.5rem;
    }

    .form-control__error.show-error-msg {
      display: block;
    }

    &__icon {
      width: 1.5rem;
      position: absolute;
      top: 4.8rem;
      right: 2rem;
      pointer-events: none;
    }

    &--right {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media (max-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .option {
      @include headingStyles;
      outline: 0;
      border: 0;
      width: 12rem;
      padding: 0.9rem;
      color: color(white);
      font-size: size(xs);
      transition: $mainTransition;
      border-radius: $secondaryRadius;

      &--btn {
        background-color: color(veryDarkCyan);

        &:hover,
        &:focus {
          background-color: color(lightGrayishCyan-100);
          color: color(veryDarkCyan);
        }
      }

      &--custom {
        background-color: color(lightGrayishCyan-200);
        color: color(veryDarkCyan);
        border: 0.2rem solid color(lightGrayishCyan-200);

        &:hover,
        &:focus {
          border: 0.2rem solid color(lightGrayishCyan-100);
        }
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: color(veryDarkCyan);
    padding: 2rem;
    border-radius: $mainRadius;
  }

  .amount-title {
    @include headingStyles;
    color: color(white);
    font-size: size(xs);
    margin-right: 2rem;
  }

  .amount-persons {
    @include textStyles;
    color: color(lightGrayishCyan-100);
    font-size: size(xs) - 0.2rem;
  }

  .amount {
    @include headingStyles;
    font-size: size(lg);
    color: color(strongCyan);
  }
}

// ===== button =====
.btn {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: size(xs);
  padding: 1rem;
  border-radius: $secondaryRadius;
  transition: $mainTransition;

  &--reset,
  &--calculate {
    background-color: color(strongCyan);
    color: color(veryDarkCyan);

    &:hover,
    &:focus {
      background-color: color(lightGrayishCyan-100);
    }
  }
}
